@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Product Store</h1>
    <p class="lead">ASP.NET MVC project where you can add, Edit, Delete and view brands, categories and products.</p>
    
</div>

